<!doctype html>
<html>
<head>
    <title>{% block title %}{{ render(controller("App\\Controller\\SystemController::getSystemTitle")) }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    {% block meta %}{% endblock %}

    {# CSS #}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="wrapper-main">
        <div class="overlay-main"></div>

        {% block navside %}
            {% if app.request.pathInfo != '/login' %}
                <nav class="navbar navbar-inverse navbar-fixed-top navbar-side-left" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="/">
                                <i class="fa fa-link"></i>
                                <span class="payoff">{{ render(controller("App\\Controller\\SystemController::getSystemTitle")) }}</span>
                            </a>
                        </li>
                        <li>
                            {% for i,f in {'nl': 'nl', 'en': 'gb'} %}
                                <a class="lang-choice" href="{{ path('locale_switch', {_locale: i}) }}">
                                    <i class="flag-icon flag-icon-{{ f }}"></i> {{ i|upper }}
                                </a>
                            {% endfor %}
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        {% block application_menu %}
                            {% for catId,cat in applications %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cat.label|trans }}
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-header">{{ cat.description|trans|truncate(25) }}</li>
                                        {% for appId,a in cat.applications %}
                                            <li>
                                                <a class="app app-{{ appId }}"
                                                   href="{{ url('dash_app', {app: a.route}) }}">
                                                    {{ a.config.meta.title|trans([], a.translation_domain) }}
                                                </a>
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <a class="app app-{{ appId }}" href="{{ url('admin_edit', {app: appId, category: a.config.category.categoryId}) }}"
                                                       title="{{ ('action.entity.create.verbose')|trans({ verbose: ('entity.verbose')|trans([], a.translation_domain) }, a.translation_domain) }}">
                                                        <i class="fa fa-plus"></i>

                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}

                            <li class="login">
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ url('admin_login') }}">Administrator</a>
                                {% else %}
                                    <a href="/logout">Log
                                        off</a>
                                {% endif %}
                            </li>
                        {% endblock %}
                    </ul>
                </nav>
            {% endif %}
        {% endblock %} {# .navbar-side-left #}

        <div id="page-content-wrapper">
            {% if app.request.pathInfo != '/login' %}
                {% block hamburger %}
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>
                {% endblock %}
            {% endif %}

            <div class="main container {{ application is defined ? application.appId : 'dashboard' }}" style="overflow-x: auto">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div> {# #wrapper-main #}
{% endblock %}

{# SCRIPTS #}
<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('build/runtime.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>